*

!.gitignore
!.bashrc
!.Xresources
!.xinitrc
!.scripts
!.config/
!.config/dunst
!.config/polybar
!.config/rofi
!.config/bspwm
!.config/sxhkd
!.scripts/info-redshift-temp.sh
!.scripts/player-mpris-simple.sh
!.scripts/post-wal.sh
!.config/dunst/**
!.config/polybar/**
!.config/rofi/**
!.config/bspwm/**
!.config/sxhkd/**