*

!.gitignore
!.bashrc
!.Xresources
!.xinitrc
!.scripts
!.config/
!.config/dunst
!.config/polybar
!.config/rofi
!.config/bspwm
!.config/sxhkd
!.config/fish
!.config/tmux
!.scripts/
!.config/dunst/**
!.config/polybar/**
!.config/rofi/**
!.config/bspwm/**
!.config/sxhkd/**
!.config/fish/**
!.config/tmux/**
!.scripts/**